/MongoDB/cluster/data/rs-3/db-1/*
/MongoDB/cluster/data/rs-3/db-2/*
/MongoDB/cluster/data/rs-3/db-3/*
/MongoDB/cluster/data/rs-2/db-1/*
/MongoDB/cluster/data/rs-2/db-2/*
/MongoDB/cluster/data/rs-2/db-3/*
/MongoDB/cluster/data/cfg/db-1/*
/MongoDB/cluster/data/cfg/db-2/*
/MongoDB/cluster/data/cfg/db-3/*
/MongoDB/cluster/data/mongos/*
